<a href="https://colab.research.google.com/github/valenja9/Python_II_krouzek/blob/main/Python_II_krou%C5%BEek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sečti všechna čísla

In [ ]:
# soucet vsech cisel
list_cisel = [4, 6, 8, 14, 900]
print(sum(list_cisel))

932

In [ ]:
# soucet vsech cisel
list_cisel = [4, 6, 8, 14, 900]
def secti_seznam(seznam:list) -> int:
  """Funkce secte vsechna cisla"""
  soucet = 0
  for prvek in seznam:
    soucet += prvek
  return soucet 
print(secti_seznam(list_cisel))

932

In [ ]:
def secti_prvky(cisla):
  soucet = 0
  for prvek in cisla:
      soucet += prvek
  return soucet

print(secti_prvky(list_cisel))

932

In [ ]:
#Secti vsechna cisla v listu
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5"]

In [ ]:
int(list_znaku_a_cisel[8])

1

In [ ]:
sum(list_znaku_a_cisel[:5]) + int(list_znaku_a_cisel[5]) + int(list_znaku_a_cisel[7]) + int(list_znaku_a_cisel[8])

972

In [ ]:
vysledek = 0
for prvek1 in list_znaku_a_cisel:
  for prvek2 in str(prvek1):
    if str(prvek1).isnumeric():
      vysledek += int(prvek1)
      break
    elif str(prvek2).isnumeric():
      vysledek += int(prvek2) 
print(vysledek)

976

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5"]]


def najdi_cisla(seznam:list) -> int:
  """Funcke secte vsechna cisla, ktera najde"""
  celkova_suma = 0
  for char in seznam:
    if type(char) == int:
      celkova_suma += char
    elif type(char) == str:
      for ch in list(char):
        if ch.isdecimal():
           celkova_suma += int(ch)
    elif type(char) == bool and bool(char)== True:
      celkova_suma +=1
  return celkova_suma

In [ ]:
najdi_cisla(list_znaku_a_cisel)

977

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5"]]


def najdi_cisla(seznam:list) -> int:
  """Funcke secte vsechna cisla, ktera najde"""
  celkova_suma = 0
  for char in seznam:
    if type(char) == int:
      celkova_suma += char
    elif type(char) == str:
      for ch in list(char):
        if ch.isdecimal():
           celkova_suma += int(ch)
    elif type(char) == bool and bool(char)== True:
      celkova_suma +=1
      print(celkova_suma)

    elif type(char) == list:
      for ch in char:
        if str(ch).isdecimal():
          celkova_suma += int(ch) 
  return celkova_suma
  najdi_cisla(list_znaku_a_cisel)

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5"]]


def najdi_cisla(seznam:list) -> int:
  """Funcke secte vsechna cisla, ktera najde"""
  celkova_suma = 0
  for char in seznam:
    if type(char) == int:
      celkova_suma += char
    elif type(char) == str:
      for ch in list(char):
        if ch.isdecimal():
           celkova_suma += int(ch)
    elif type(char) == bool and bool(char)== True:
      celkova_suma +=1
    elif type(char) == list:
      celkova_suma += najdi_cisla(char) #volam stejnou funkci
  return celkova_suma

print(najdi_cisla(list_znaku_a_cisel))

995

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5",["5", 7, True, "ddh5",["5", 7, True, "ddh5"]]]]

def najdi_cisla(seznam:list) -> int:
  """Funcke secte vsechna cisla, ktera najde"""
  celkova_suma = 0
  for char in seznam:
    if type(char) == int:
      celkova_suma += char
    elif type(char) == str:
      for ch in list(char):
        if ch.isdecimal():
           celkova_suma += int(ch)
    elif type(char) == bool and bool(char)== True:
      celkova_suma +=1
    elif type(char) == list:
      celkova_suma += najdi_cisla(char) #volam stejnou funkci
  return celkova_suma

print(najdi_cisla(list_znaku_a_cisel))

1031

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5"]]
vysledek = 0
for prvek1 in list_znaku_a_cisel:
  if type(prvek1) == int:
    vysledek += prvek1
    print("Pricetl jsem " + str(prvek1))
  elif type(prvek1) == str:
    for prvek2 in prvek1:
      if prvek2.isnumeric():
        vysledek += int(prvek2)
        print("Pricetl jsem " + str(prvek2))

  elif type(prvek1) == list:
    for prvek3 in prvek1:
      if type(prvek3) == int:
        vysledek +=

In [ ]:
def kontrolni_funkce(seznam:list) -> int:
  vysledek = 0
  for prvek1 in seznam:
    if type(prvek1) == int:
      vysledek += prvek1
      print("Pricetl jsem " + str(prvek1))
    elif type(prvek1) == str:
      for prvek2 in prvek1:
        if prvek2.isnumeric():
          vysledek += int(prvek2)
          print("Pricetl jsem " + str(prvek2))
    elif type(prvek1) == list:
      vysledek += kontrolni_funkce(prvek1)
  return vysledek

In [ ]:
list_znaku_a_cisel = [4, 6, 8, 14, 900, "5", "ahoj", 34, True, "ddjj5", ["5", 7, True, "ddh5"]]
vysledek = kontrolni_funkce(list_znaku_a_cisel)
print(vysledek)

Pricetl jsem 4
Pricetl jsem 6
Pricetl jsem 8
Pricetl jsem 14
Pricetl jsem 900
Pricetl jsem 5
Pricetl jsem 34
Pricetl jsem 5
Pricetl jsem 5
Pricetl jsem 7
Pricetl jsem 5
993

# Druha lekce

In [ ]:
#Secti cisla i jako jednotlive dvojcisli... trojcisli ....atd
soucet = 0
slucovani_cisel = ''
zadany_str = "a13b12cd1"
for prvek in zadany_str:
    if prvek.isdigit():
        slucovani_cisel += prvek
    else:
      if len(slucovani_cisel) > 0: 
          soucet += int(slucovani_cisel)
          slucovani_cisel = ''
    if zadany_str.index(prvek) == len(zadany_str) -1:
      soucet += int(prvek)
print(str(soucet))

# Druha lekce

In [ ]:
# Tento list listu, predelali na tuple listu.
tabulka = [["Jmeno", "Prijmeni", "Vek"],["Petr","Novotny", 45], ["Hanka","Bila", 33], ["Sabima","Suchanova", 11]]

In [ ]:
tabulka[0] = "Ted uz tam nebude list"

In [ ]:
tabulka

['Ted uz tam nebude list',
 ['Petr', 'Novotny', 45],
 ['Hanka', 'Bila', 33],
 ['Sabima', 'Suchanova', 11]]

In [ ]:
tohle_je_tuple = ("Jakub", "Martin", "Vojta")

In [ ]:
tohle_je_tuple[0]

'Jakub'

In [ ]:
tohle_je_tuple[0] = "Petra"

TypeError: ignored

# Jak na range?

In [ ]:
list(range(3,6,2))

[3, 5]

In [ ]:
tisic_cisel = []
for i in range(1,1001):
  tisic_cisel.append(i)
print(tisic_cisel)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [ ]:
tisic_cisel = []

In [ ]:
type(tisic_cisel)

list

In [ ]:
dir(tisic_cisel)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
tisic_cisel.append("Baby yoda")

In [ ]:
print(tisic_cisel)

[]

In [ ]:
tisic_cisel.remove("Baby yoda")

In [ ]:
#seradte postupne cisla. 
list_cisel = [9,6,8,1,9,0,2]

In [ ]:
#Seradit
list_cisel = [9,6,8,1,9,0,2]
list_cisel.sort()
print(list_cisel)

# List se da menit!

In [ ]:
list_jmen = ["Jakub", "Martin", "Vojta"]
for index in range(len(list_jmen)):
  list_jmen[index] = "Nic tu neni"

In [ ]:
list_jmen

['Nic tu neni', 'Nic tu neni', 'Nic tu neni']

In [ ]:
tuple_listu = tuple(tabulka)
print(tuple_listu)

(['Jmeno', 'Prijmeni', 'Vek'], ['Petr', 'Novotny', 45], ['Hanka', 'Bila', 33], ['Sabima', 'Suchanova', 11])

#  Jak vytvorit textovy soubor.

In [ ]:
#Do textove souboru(soubor.txt) uloz nasledujici vetu.
veta = "Ahoj, jak se dnes vsichni mate?"
jmeno = "soubor.txt"

with open(jmeno, mode="w") as file: 
  file.write(veta)

In [ ]:
my_file = open("druhy.txt", mode="w")
my_file.write(veta)
my_file.close()

In [ ]:
tabulka = [["Jmeno", "Prijmeni", "Vek"],["Petr","Novotny", 45], ["Hanka","Bila", 33], ["Sabima","Suchanova", 11]]

jmeno = "soubor.txt"

with open(jmeno, mode="w") as file: 
  #dodelej upravu
  file.write(veta)

In [ ]:
tabulka = [["Jmeno", "Prijmeni", "Vek"],["Petr","Novotny", 45], ["Hanka","Bila", 33], ["Sabima","Suchanova", 11]]
my_file = open("tabulka.txt","a")
for i in tabulka:
  my_file.write(str(i) + "\n")
my_file.close()

In [ ]:
for list_in_list in tabulka:
  print(list_in_list)

['Jmeno', 'Prijmeni', 'Vek']
['Petr', 'Novotny', 45]
['Hanka', 'Bila', 33]
['Sabima', 'Suchanova', 11]

In [ ]:
tabulka = [["Jmeno", "Prijmeni", "Vek"],["Petr","Novotny", 45], ["Hanka","Bila", 33], ["Sabima","Suchanova", 11]]
with open("lospufeekos.txt", mode="w") as file:
  for list_in_list in tabulka:
    file.write(str(list_in_list) + "\n")

In [ ]:
name = "Petr"

# Treti krouzek

In [ ]:
import requests #Staci dat import a jmeno knihovny
import json

In [ ]:
dir(requests)

['ConnectTimeout',
 'ConnectionError',
 'DependencyWarning',
 'FileModeWarning',
 'HTTPError',
 'NullHandler',
 'PreparedRequest',
 'ReadTimeout',
 'Request',
 'RequestException',
 'RequestsDependencyWarning',
 'Response',
 'Session',
 'Timeout',
 'TooManyRedirects',
 'URLRequired',
 '__author__',
 '__author_email__',
 '__build__',
 '__builtins__',
 '__cached__',
 '__cake__',
 '__copyright__',
 '__description__',
 '__doc__',
 '__file__',
 '__license__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__title__',
 '__url__',
 '__version__',
 '_check_cryptography',
 '_internal_utils',
 'adapters',
 'api',
 'auth',
 'certs',
 'chardet',
 'check_compatibility',
 'codes',
 'compat',
 'cookies',
 'delete',
 'exceptions',
 'get',
 'head',
 'hooks',
 'logging',
 'models',
 'options',
 'packages',
 'patch',
 'post',
 'put',
 'request',
 'session',
 'sessions',
 'status_codes',
 'structures',
 'urllib3',
 'utils',
 'warnings']

In [ ]:
url = 'http://api.openweathermap.org/data/2.5/weather?q=Brno'
requests.get(url)

In [ ]:
url = 'http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=d7fbd888f435c075cdd7d5a28ed0c899'
data = requests.get(url)
dir(data)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [ ]:
data = data.json()

In [ ]:
data.json().keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [ ]:
data['weather'][0]["main"]

'Clouds'

In [ ]:
from datetime import datetime

timestamp = 1545730073
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object =", dt_object)

dt_object = 2018-12-25 09:27:53

In [ ]:
import requests #Staci dat import a jmeno knihovny
import json
url = 'http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=d7fbd888f435c075cdd7d5a28ed0c899'
data = requests.get(url)
data = data.json()
data

In [ ]:
data

{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 51.5085, 'lon': -0.1257},
 'dt': 1613397940,
 'id': 2643743,
 'main': {'feels_like': 281.63,
  'humidity': 76,
  'pressure': 1018,
  'temp': 285.61,
  'temp_max': 286.48,
  'temp_min': 284.82},
 'name': 'London',
 'sys': {'country': 'GB',
  'id': 1414,
  'sunrise': 1613373264,
  'sunset': 1613409306,
  'type': 1},
 'timezone': 0,
 'visibility': 10000,
 'weather': [{'description': 'broken clouds',
   'icon': '04d',
   'id': 803,
   'main': 'Clouds'}],
 'wind': {'deg': 230, 'speed': 5.14}}

In [ ]:
temp = data["main"]["temp"]
time = datetime.fromtimestamp(data["sys"]["sunrise"])
print(time)

2021-02-15 07:14:24

In [ ]:
from datetime import datetime

timestamp = time
dt_object = datetime.fromtimestamp(timestamp)
print(dt_object)

2021-02-15 07:14:24

In [ ]:
import requests
import json

url = 'http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=d7fbd888f435c075cdd7d5a28ed0c899'
data = requests.get(url).json()
try:
  temp = (data["main"]["temp"])-273.15
  country = data["sys"]["country"]
  windspeed = data["wind"]["speed"]
except KeyError:
  print("Invalid key!") 
else:  
  print(temp)
  print(country)
  print(windspeed)

12.460000000000036
GB
5.14

In [ ]:
data_state_code = requests.get("https://api.printful.com/countries")
data_state_code = data_state_code.json()

In [ ]:
data_state_code.keys()

dict_keys(['code', 'result', 'extra'])

In [ ]:
def conutry_name_to_code():
  zeme = input("Zadej zemi(Anglicky): ").title()
  zkratka = ""
  for d in data_state_code["result"]:
    if d.get("name", "neni") == zeme:
      zkratka = d["code"]
  return zkratka

In [ ]:
import requests
import json
city = input("Zadej mesto: ")
zkratka = conutry_name_to_code()
url = f'http://api.openweathermap.org/data/2.5/weather?q={city},{zkratka}&APPID=d7fbd888f435c075cdd7d5a28ed0c899'
data = requests.get(url).json()
print("Slunce vychazi v :", data["sys"]["sunrise"])
print("Slunce vychazi v :", data["sys"]["sunset"])
print("Teplota ve stupnioch je: ", data["main"]["temp"]-273.15)

In [ ]:
data["main"]["temp"]-273.15

NameError: ignored